.font-header {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.font-paragraph {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text-color-light-greysh-blue {
    color: hsla(211, 10%, 45%, 1);
}

.text-color-dark-blue {
    color: hsla(212, 24%, 26%, 1);
}

.text-white {
    color:hsla(0, 0%, 100%, 1);
}

.bg-blue {
    background-color: hsla(238, 40%, 52%, 1);
}

.text-color-light-grey-blue {
    color: hsla(238, 57%, 85%, 1);
}

.text-color-moderate-blue {
    color: hsla(238, 40%, 52%, 1);
}

body {
    background-color: #F2F2F2;
}

.comment-section {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
}

.comment {
    margin: 8px 16px 8px 16px;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
}

.avatar {
    margin: 16px 8px 16px 16px;
    width:32px
}
span {
    margin: 8px;
}

p {
    margin: 0 16px 16px 16px;
    flex-basis: 100%;
}

.score {
    width: 100px;
    height: 40px;
    margin: 0px 0px 16px 16px;
    background-color: hsla(228, 33%, 97%, 1);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

input {
    border:none;
    all: unset;
    width: 30px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
  all: unset;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0px 16px 16px 0px;
}

.reply {
    max-width: 94.26%;
    border-left: 2px;
    border-style: solid;
    border-color: hsla(224, 19%, 93%, 1);
    align-self: end;
}

form {
    margin: 8px 16px 32px 16px;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#form-input {
    resize: none;
    width: 100%;
    min-height: 96px;
    border: 1px solid #E9EBF0;
    border-radius: 8px;
    margin: 16px;
    padding: 12px 24px;
}

::placeholder {
    color: hsla(211, 10%, 45%, 1);
}

.you {
    padding: 3px 6px;
}

.buttons {
    margin: 0px 16px 16px 0px;
    display: flex;
}

.edit {
    margin: 0px;
}

.delete {
    margin: 0px;
    margin-right: 16px;
    color: hsla(358, 79%, 66%, 1);
}

.send {
    width: 104px;
    height: 48px;
    border-radius: 8px;
    text-transform: uppercase;
}

#your-avatar {
    margin: 8px 8px 24px 16px;
}

.increase {
    cursor:pointer;
}

.decrease {
    cursor:pointer;
}

.hidden {
    display: none;
}